input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}


body{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: rgb(223, 197, 245);
    margin: 0;
    padding: 0;
}

label{
    display:block;
    margin: 1rem;
}

.inputContainer{
    display: inline-block;
}
.input{
    text-align: center;
    margin: 1rem;
    width: 100%;
}


input{
    height: 2rem;
    width: 6rem;
    text-align: center;
}

.workerSection input{
    display: inline-block;
    margin: 1rem;
}

.workerTip{
    display: inline-block;
    text-align: center;
}